.button {
	display: inline-block;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.primary {
	color: var(--light-color);
	background-color: var(--primary-color);
}
.ghost {
	background-color: var(--light-color);
	color: var(--dark-color);
	border: 1px solid var(--gray-light-color);
}
.primary:hover {
	background-color: var(--primary-hover-color);
}
.ghost:hover {
	background-color: var(--primary-color);
	color: var(--light-color);
	border: 1px solid var(--primary-color);

}